.thesislist__icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  margin-top: 10px;
  color: dimgray;
}

.thesislist__hover {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button:disabled {
  color: #ccc;
  cursor: none;
}
.cell {
  text-overflow: ellipsis;
}

.scroll{
  position: sticky;
  left: 0;
  color: #fff;
  background: #333;
  }
